<div>
    <main class='p-5'>
        <header>
            <h1 class='mb-4'>Corolla Cross</h1>
        </header>
        <section>
            <div class='ps-4'>
                <b>Maker: </b>{{make}}
                <br />
                <b>Model</b>
                -
                {{model}}
                <br />
                <b>Year production: </b>{{year}}
                <br />
                <b>Color: </b>{{color}}
                <br />
            </div>
            <hr class='mt-4 mb-4' />
            <header>
                <h2 class='mb-4'>Machine components</h2>
            </header>
            <h2><span class='badge rounded-pill text-bg-primary'>Features</span>
            </h2>
            <br />
            <div>
                <h3 class='ps-3'><span class='badge rounded-pill text-bg-secondary'>Interior</span>
                </h3>
                <br />
                {{#with features.interior.seats}}
                    <h4 class='ps-4 m-0'><span class='badge rounded-pill text-bg-success'>Seats</span>
                    </h4>
                    <div class='ps-5'>
                        <br />
                        <b>Material: </b>{{material}}
                        <br />
                        <b>Color: </b>{{color}}
                        <br />
                        {{#if heated includeZero=true}}
                            <b>Heated:</b>
                            (в наявності)
                        {{/if}}
                        <br />
                        {{#if ventilated includeZero=true}}
                            <b>Ventilated: </b>
                            (в наявності)
                        {{/if}}
                    </div>
                {{/with}}
            </div>
            <br />
            <div>
                <h4 class='mb-3'><span class='badge rounded-pill text-bg-success'>Dashboard</span>
                </h4>
                {{#with features.interior.dashboard}}
                    <div class='ps-4'>
                        <b>Material: </b>{{material}}
                        <br />
                        <b>Color: </b>{{color}}
                        <br />
                        <br />
                    </div>
                    <div>
                        <h5 class='p-3'><span class='badge rounded-pill text-bg-danger'>Display</span>
                        </h5>
                        {{#with display}}
                            <div class='ps-5'>
                                <b>Type: </b>{{type}}
                                <br />
                                <b>Size </b>
                                -
                                {{size}}cm
                                <br />
                                <b>Resolution: </b>{{resolution}}
                                <br />
                                {{#if touchscreen includeZero=true}}
                                    <b>Touchscreen: </b>
                                    (в наявності)
                                {{/if}}
                            </div>
                        {{/with}}
                    </div>
                {{/with}}
            </div>
            <br />
            <div>
                <h4 class='mb-3'><span class='badge rounded-pill text-bg-success'>Audio</span>
                </h4>
                {{#with features.interior.audio}}
                    <div class='ps-4'>
                        <b>Audio System: </b>{{system}}
                        <br />
                        <b>Speakers: </b>{{speakers}}
                        <br />
                        {{#if subwoofer includeZero=true}}
                            <b>Subwoofer: </b>
                            (в наявності)
                        {{/if}}
                        <br />
                        {{#if bluetooth includeZero=true}}
                            <b>Bluetooth: </b>
                            (в наявності)
                        {{/if}}
                        <br />
                        {{#if USB includeZero=true}}
                            <b>USB: </b>
                            (в наявності)
                        {{/if}}
                    </div>
                {{/with}}
            </div>
            <br />
            <div>
                <h3><span class='badge rounded-pill text-bg-secondary'>Exterior</span>
                </h3>
                <br />
                <h4 class='ps-3 mb-3'><span class='badge rounded-pill text-bg-success'>Wheels</span>
                </h4>
                {{#with features.exterior.wheels}}
                    <div class='ps-5'>
                        <b>Size: </b>{{size}}cm
                        <br />
                        <b>Type: </b>{{type}}
                        <br />
                        <b>Color: </b>{{color}}
                    </div>
                {{/with}}
            </div>
            <br />
            <div>
                <h4 class='ps-3 mb-3'><span class='badge rounded-pill text-bg-success'>Headlights</span>
                </h4>
                {{#with features.exterior.headlights}}
                    <div class='ps-5'>
                        <b>Type: </b>{{type}}
                        <br />
                        <b>Brightness: </b>{{brightness}}
                        <br />
                        {{#if automatic includeZero=true}}
                            <b>Automatic: </b>
                            (так)
                        {{/if}}
                    </div>
                {{/with}}
            </div>
            <br />
            <div>
                <h4 class='ps-3 mb-3 mt-2'><span class='badge rounded-pill text-bg-success'>Sunroof</span>
                </h4>
                {{#with features.exterior.sunroof}}
                    <div class='ps-5'>
                        <b>Type: </b>{{type}}
                        <br />
                        <b>Size: </b>{{size}}
                        <br />
                        {{#if automatic includeZero=true}}
                            <b>Automatic: </b>
                            (так)
                        {{/if}}
                    </div>
                {{/with}}
            </div>
            <br />
            <div>
                <h3><span class='badge rounded-pill text-bg-warning'>Safety</span>
                </h3>
                <br />
                <h4 class='ps-4'><span class='badge rounded-pill text-bg-success'>Airbags</span>
                </h4>
                {{#with features.safety.airbags}}
                    <div class='ps-5'>
                        <b>Front rate </b>
                        -
                        {{front}}
                        <br />
                        <b>Side rate </b>
                        -
                        {{side}}
                        <br />
                        <b>Knee rate </b>
                        -
                        {{knee}}
                        <br />
                        <b>Rear rate </b>
                        -
                        {{rear}}
                    </div>
                {{/with}}
            </div>
            <br />
            <div>
                <h4 class='ps-4'><span class='badge rounded-pill text-bg-success'>Assistance</span>
                </h4>
                {{#with features.safety.assistance}}
                    <div class='ps-5'>
                        {{#if blind_spot_monitoring includeZero=true}}
                            <b>Blind spot monitoring: </b>
                            (в наявності)
                        {{/if}}
                        <br />
                        {{#if rear_cross_traffic_alert includeZero=true}}
                            <b>Rear cross traffic alert: </b>
                            (в наявності)
                        {{/if}}
                        <br />
                        {{#if lane_departure_warning includeZero=true}}
                            <b>Lane departure warning: </b>
                            (в наявності)
                        {{/if}}
                        <br />
                        {{#if adaptive_cruise_control includeZero=true}}
                            <b>Adaptive cruise control: </b>
                            (в наявності)
                        {{/if}}
                        <br />
                        {{#if collision_warning includeZero=true}}
                            <b>Collision warning: </b>
                            (в наявності)
                        {{/if}}
                    </div>
                {{/with}}
            </div>
            <br />
            <hr />
            <div>
                <header>
                    <h2>Fuel</h2>
                </header>
                <h3><span class='badge rounded-pill text-bg-primary'>Engine</span>
                </h3>
                {{#with engine}}
                    <b>Engine Type: </b>{{type}}
                    <br />
                    <b>Displacement: </b>{{displacement}}
                    <br />
                    <b>Horsepower: </b>{{horsepower}}
                    <br />
                    <b>Torque: </b>{{torque}}
                    <br />
                    <br />
                    <div>
                        <h4>Transmission</h4>
                        {{#with transmission}}
                            <b>Transmission type: </b>{{type}}
                            <br />
                            <b>Gears: </b>{{gears}}
                        {{/with}}
                    </div>
                {{/with}}
            </div>
            <br />
            <div>
                <h3><span class='badge rounded-pill text-bg-primary'>Fuel Economy</span>
                </h3>
                {{#with fuel_economy}}
                    <b>For city: </b>{{city}}km
                    <br />
                    <b>For highway: </b>{{highway}}km
                    <br />
                    <b>Combined: </b>{{combined}}km
                {{/with}}
            </div>
            <br />
            <hr />
            <div>
                <header>
                    <h2>Price</h2>
                </header>
                {{#with price}}
                    <b>Base: </b><em>${{base}}</em>
                    <br />
                    <b>Destination: </b><em>${{destination}}</em>
                    <br />
                    <br />
                    <div>
                        <h3><span class='badge rounded-pill text-bg-success'>Options</span>
                        </h3>
                        {{#with options}}
                            <b>Navigation: </b><em>${{navigation}}</em>
                            <br />
                            <b>Moonroof: </b><em>${{moonroof}}</em>
                            <br />
                            <b>Premium paint: </b><em>${{premium_paint}}</em>
                        {{/with}}
                    </div>
                    <br />
                    <b>Total </b>
                    =
                    <em>${{total}}</em>
                {{/with}}
            </div>
        </section>
    </main>
</div>