<main class='p-5'>
    <section class='col-12'>
        <div class='card'>
            <div class='card-body'>
                <div class='row'>
                    <div class='col-6'>
                        <h6 class='mb-0 text-start'>Ім'я Прізвище</h6>
                    </div>
                    <div class='col-6'>
                        <h6 class='mb-0 text-end'>Resume Project</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h1 class='mb-4 mt-5'>Corolla Cross</h1>
    <p class='mb-2'><b>Maker: </b>{{make}}</p>

    <p class='mb-2'>
        <b>Model</b>
        -
        {{model}}
    </p>

    <p class='mb-2'><b>Year production: </b>{{year}}</p>

    <p class='mb-3'><b>Color: </b>{{color}}</p>

    <a href='https://www.youtube.com/' class='btn btn-primary'>Купити</a>

    <div class='nav nav-tabs mt-4 mb-4'>
        <div class='nav-item'>
            <a class='nav-link'>Продукт</a>
        </div>
        <div class='nav-item'>
            <a class='nav-link active'>Характеристики</a>
        </div>
        <div class='nav-item'>
            <a class='nav-link disabled'>Відгуки</a>
        </div>
    </div>

    <h2 class='mb-4 text-center'>Machine components</h2>

    <div class='container gx-3'>
        <div class='row'>
            <section class='col-7'>
                <div class='card border-danger'>
                    <h3 class='card-header'>1. Interior</h3>
                    <div class='card-body'>
                        {{#with features.interior.seats}}
                            <h4>Seats</h4>
                            <p class='mb-2 ps-3'><b>Material: </b>{{material}}</p>

                            <p class='mb-2 ps-3'><b>Color: </b>{{color}}</p>

                            {{#if heated includeZero=true}}
                                <p class='mb-2 ps-3'>
                                    <b>Heated:</b>
                                    (в наявності)
                                </p>
                            {{/if}}

                            {{#if ventilated includeZero=true}}
                                <p class='mb-2 ps-3'>
                                    <b>Ventilated: </b>
                                    (в наявності)
                                </p>
                            {{/if}}
                        {{/with}}

                        <h4>Dashboard</h4>
                        {{#with features.interior.dashboard}}
                            <div class='ps-3'>
                                <p class='mb-2'><b>Material: </b>{{material}}</p>

                                <p class='mb-2'><b>Color: </b>{{color}}</p>
                            </div>
                            <h5 class='ps-3'>Display</h5>
                            <section class='col-9 ps-4'>
                                <div class='card text-bg-danger'>
                                    <div class='card-body'>
                                        {{#with display}}
                                            <p class='mb-2 ps-2'><b>Type: </b>{{type}}</p>
                                            <p class='mb-2 ps-2'>
                                                <b>Size </b>
                                                -
                                                {{size}}cm
                                            </p>

                                            <p class='mb-2 ps-2'><b>Resolution: </b>{{resolution}}</p>

                                            {{#if touchscreen includeZero=true}}
                                                <p class='mb-0 ps-2'>
                                                    <b>Touchscreen: </b>
                                                    (в наявності)
                                                </p>
                                            {{/if}}
                                        {{/with}}
                                    </div>
                                </div>
                            </section>
                        {{/with}}

                        <h4 class='mt-3'>Audio</h4>
                        <section class='col-9 ps-2'>
                            <div class='card text-bg-success'>
                                <div class='card-body'>
                                    {{#with features.interior.audio}}
                                        <p class='mb-2'><b>Audio System: </b>{{system}}</p>

                                        <p class='mb-2'><b>Speakers: </b>{{speakers}}</p>

                                        {{#if subwoofer includeZero=true}}
                                            <p class='mb-2'>
                                                <b>Subwoofer: </b>
                                                (в наявності)
                                            </p>
                                        {{/if}}

                                        {{#if bluetooth includeZero=true}}
                                            <p class='mb-2'>
                                                <b>Bluetooth: </b>
                                                (в наявності)
                                            </p>
                                        {{/if}}

                                        {{#if USB includeZero=true}}
                                            <p class='mb-0'>
                                                <b>USB: </b>
                                                (в наявності)
                                            </p>
                                        {{/if}}
                                    {{/with}}
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <div class='col-5 row gy-0'>
                <section class='col-12'>
                    <div class='card border-danger mb-4'>
                        <h3 class='card-header'>2. Exterior</h3>
                        <div class='card-body'>
                            <h4>Wheels</h4>
                            {{#with features.exterior.wheels}}
                                <p class='mb-2 ps-3'><b>Size: </b>{{size}}cm</p>

                                <p class='mb-2 ps-3'><b>Type: </b>{{type}}</p>

                                <p class='mb-2 ps-3'><b>Color: </b>{{color}}</p>
                            {{/with}}

                            <h4>Headlights</h4>
                            {{#with features.exterior.headlights}}
                                <p class='mb-2 ps-3'><b>Type: </b>{{type}}</p>

                                <p class='mb-2 ps-3'><b>Brightness: </b>{{brightness}}</p>

                                {{#if automatic includeZero=true}}
                                    <p class='mb-3 ps-3'>
                                        <b>Automatic: </b>
                                        (так)
                                    </p>
                                {{/if}}
                            {{/with}}

                            <h4>Sunroof</h4>
                            {{#with features.exterior.sunroof}}
                                <div class='ps-3'>
                                    <p class='mb-2'><b>Type: </b>{{type}}</p>

                                    <p class='mb-2'><b>Size: </b>{{size}}</p>

                                    {{#if automatic includeZero=true}}
                                        <p class='mb-0'>
                                            <b>Automatic: </b>
                                            (так)
                                        </p>
                                    {{/if}}
                                </div>
                            {{/with}}
                        </div>
                    </div>
                </section>

                <section class='col-12'>
                    <div class='card border-danger'>
                        <h3 class='card-header'>3. Safety</h3>
                        <div class='card-body'>
                            <h4>Airbags</h4>
                            {{#with features.safety.airbags}}
                                <div class='ps-3'>
                                    <p class='mb-2'>
                                        <b>Front rate </b>
                                        -
                                        {{front}}
                                    </p>

                                    <p class='mb-2'>
                                        <b>Side rate </b>
                                        -
                                        {{side}}
                                    </p>
                                    <p class='mb-2'>
                                        <b>Knee rate </b>
                                        -
                                        {{knee}}
                                    </p>
                                    <p class='mb-3'>
                                        <b>Rear rate </b>
                                        -
                                        {{rear}}
                                    </p>
                                </div>
                            {{/with}}

                            <h4>Assistance</h4>
                            {{#with features.safety.assistance}}
                                <div class='ps-3'>
                                    {{#if blind_spot_monitoring includeZero=true}}
                                        <p class='mb-2'>
                                            <b>Blind spot monitoring: </b>
                                            (в наявності)
                                        </p>
                                    {{/if}}

                                    {{#if rear_cross_traffic_alert includeZero=true}}
                                        <p class='mb-2'>
                                            <b>Rear cross traffic alert: </b>
                                            (в наявності)
                                        </p>
                                    {{/if}}

                                    {{#if lane_departure_warning includeZero=true}}
                                        <p class='mb-2'>
                                            <b>Lane departure warning: </b>
                                            (в наявності)
                                        </p>
                                    {{/if}}

                                    {{#if adaptive_cruise_control includeZero=true}}
                                        <p class='mb-2'>
                                            <b>Adaptive cruise control: </b>
                                            (в наявності)
                                        </p>
                                    {{/if}}

                                    {{#if collision_warning includeZero=true}}
                                        <p class='mb-0'>
                                            <b>Collision warning: </b>
                                            (в наявності)
                                        </p>
                                    {{/if}}
                                </div>
                            {{/with}}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <hr class='mt-5 mb-5' />

    <div class='card text-bg-primary'>
        <div class='card-body'>
            <h2 class='text-center mb-4'>Fuel</h2>
            <div class='row'>
                {{#with engine}}
                    <section class='col-4'>
                        <h3 class='text-start'>Engine</h3>
                        <p class='mb-2'><b>Engine Type: </b>{{type}}</p>

                        <p class='mb-2'><b>Displacement: </b>{{displacement}}</p>

                        <p class='mb-2'><b>Horsepower: </b>{{horsepower}}</p>

                        <p class='mb-0'><b>Torque: </b>{{torque}}</p>
                    </section>

                    <section class='col-4'>
                        <h3 class='text-center'>Transmission</h3>
                        {{#with transmission}}
                            <p class='mb-2 text-center'><b>Transmission type: </b>{{type}}</p>

                            <p class='text-center'><b>Gears: </b>{{gears}}</p>
                        {{/with}}
                    </section>
                {{/with}}

                <section class='col-4'>
                    <h3 class='text-end'>Fuel Economy</h3>
                    {{#with fuel_economy}}
                        <p class='mb-2 text-end'><b>For city: </b>{{city}}km</p>

                        <p class='mb-2 text-end'><b>For highway: </b>{{highway}}km</p>

                        <p class='mb-2 text-end'><b>Combined: </b>{{combined}}km</p>
                    {{/with}}
                </section>
            </div>
        </div>
    </div>

    <hr class='mb-3 mt-5' />
    <h2>Price</h2>
    {{#with price}}
        <p class='mb-2'><b>Base: </b><em>${{base}}</em></p>

        <p><b>Destination: </b><em>${{destination}}</em></p>

        <h3>Options</h3>
        {{#with options}}
            <p class='mb-2'><b>Navigation: </b><em>${{navigation}}</em></p>

            <p class='mb-2'><b>Moonroof: </b><em>${{moonroof}}</em></p>

            <p class='mb-2'><b>Premium paint: </b><em>${{premium_paint}}</em></p>
        {{/with}}
        <p class='mb-3'>
            <b>Total </b>
            =
            <em>${{total}}</em>
        </p>
        <a href='https://www.youtube.com/' class='btn btn-primary'>Купити</a>
    {{/with}}
</main>