<div>
	<header>
		<h1>Program lists</h1>
	</header>
	{{#with program}}
	<main>
		<h2>Program №1</h2>
		<section>
			{{#with excursion}}
			<b>Excursion: {{name}}</b>
			<br />
			<br />
			{{#with location}}
			<address>{{country}}, {{city}}</address>
			{{/with}}
			<br />
			<strong>It will take place on the {{date}}</strong>
			{{/with}}
		</section>
	</main>
	{{/with}}
</div>

<hr>

<div>
	<header>
		<h2>Program №2</h2>
	</header>
	{{#with program}}
	<main>
		<section>
			{{#with excursion}}
			<div>
				{{#each program}}
				{{#if details.museum}}
				{{! Replace `museum` with other objects}}
				<b>Name: </b>{{name}}
				<br>
				<br>
				<b>Type: </b>{{type}}
				<br>
				<br>
				<b>Duration: </b>{{duration}} years
				<br>
				<br>
				<h3>The Louvre museum</h3>
				<div>
					{{#with details.museum}}
					<b>Name: </b>{{name}}
					<br>
					<br>
					<div>
						{{#with location}}
						<address>Address: {{address}}, {{city}}, {{country}}</address>
						{{/with}}
					</div>
					<br>
					<div>
						<h4>Exhibits</h4>
						<ul>
							{{#each exhibits}}
							{{#if name includeZero='Winged Victory of Samothrace'}} <br> {{/if}}
							<li>{{name}}</li>
							<b>Artist: </b> {{artist}}
							{{#unless artist includeZero=null}} Невідомо {{/unless}}
							<br>
							<b>Desc: </b><em>{{description}}</em>
							<br>
							<b>Audio_guide: </b>
							{{#if audio_guide includeZero=true}} <button>Нажміть сюда, щоб зіграти звук</button> {{/if}}
							{{/each}}
						</ul>
					</div>
					{{/with}}
				</div>
				<br>
				<h3>Guide</h3>
				<div>
					{{#with details.guide}}
					<b>Name: </b>{{name}}
					<br>
					<br>
					<b>Language he speaks: </b>{{language}}
					<br>
					<br>
					<b>Rating: </b>{{rating}}/5 stars
					{{/with}}
				</div>
				{{/if}}
				{{/each}}
			</div>
			{{/with}}
		</section>
	</main>
	{{/with}}
</div>

<hr>

<div>
	<header>
		<h2>Program №3</h2>
	</header>
	{{#with program}}
	<main>
		<section>
			{{#with excursion}}
			<div>
				{{#each program}}
				{{#if details.venue}}
				{{! Replace `venue` with other objects}}
				<b>Name: </b>{{name}}
				<br>
				<br>
				<b>Type: </b>{{type}}
				<br>
				<br>
				<b>Duration: </b>{{duration}} hours
				<br>
				<br>
				<h3>Venue</h3>
				<div>
					{{#with details.venue}}
					<b>Name: </b>{{name}}
					<br>
					<br>
					<div>
						{{#with location}}
						<address>Address: {{address}}, {{city}}, {{country}}</address>
						{{/with}}
					</div>
					{{/with}}
				</div>
				<br>
				<div>
					<h4>Performers</h4>
					<ul>
						{{#each details.performers}}
						<li>{{name}}</li>
						<b>Type: </b><em>{{type}}</em>
						{{/each}}
					</ul>
				</div>
				<h3>Guide</h3>
				<div>
					{{#with details.guide}}
					<b>Name: </b>{{name}}
					<br>
					<br>
					<b>Language he speaks: </b>{{language}}
					<br>
					<br>
					<b>Rating: </b>{{rating}}/5 stars
					{{/with}}
				</div>
				{{/if}}
				{{/each}}
			</div>
			{{/with}}
		</section>
	</main>
	{{/with}}
</div>