<main class='p-5'>
    <div class='row'>
        <section class='col-12 mb-5'>
            {{#with navigation}}
                <div class='card'>
                    <div class='nav'>
                        {{#each links}}
                            <div class='nav-item'>
                                <a href='{{href}}' class='nav-link'>{{text}}</a>
                            </div>
                        {{/each}}
                        <div class='nav-item'>
                            <a href='#' class='nav-link disabled'>Disabled</a>
                        </div>
                    </div>
                </div>
            {{/with}}
        </section>
        {{#with newsBlock}}
            <h3 class='text-center'>{{title}}</h3>
            <div class='row'>
                {{#each cards}}
                    <section class='col-3'>
                        <div class='card text-bg-dark mb-3 my-2'>
                            <div class='card-header'>
                                <div>
                                    {{title}}
                                    {{#if isTop includeZero=true}} <span class='badge rounded-pill text-bg-danger'>Top</span> {{/if}}
                                    {{#if isNew includeZero=true}} <span class='badge rounded-pill text-bg-success'>New</span> {{/if}}
                                </div>
                            </div>
                            <div class='card-body'>
                                <p class="mb-0">{{description}}</p>
                            </div>
                        </div>
                    </section>
                {{/each}}
                <hr class='mt-5 mb-5' />
            </div>
        {{/with}}
        {{#with goodsBlock}}
            <div class='row p-0 mt-4'>
                <section class='col-12'>
                    <div class='nav nav-tabs'>
                        {{#each tabs}}
                            <div class='nav-item'>
                                <a href='#' class='nav-link 
								{{#if isActive includeZero=true}} active {{/if}} 
								{{#if isDisabled includeZero=true}} disabled {{/if}}'>{{text}}</a>
                            </div>
                        {{/each}}
                    </div>
                </section>
				<div class="row mt-5">
					{{#each cards}}
						<section class="col-4 mb-4">
							<div class="card">
								<img class="card-img-top" src="{{image}}">
								<div class="card-body">
									<h5>
										{{title}}
										{{#if isHot includeZero=true}} <span class="badge rounded-pill text-bg-warning text-uppercase">Hot!</span> {{/if}}
										{{#if isNew includeZero=true}} <span class="badge rounded-pill text-bg-primary">New</span> {{/if}}
									</h5>
									<p class="mt-2 mb-0">{{description}}</p>
								</div>
							</div>
						</section>
					{{/each}}
					<hr class="m-5 ms-3">
				</div>
            </div>
        {{/with}}
		{{#with subscribe}}
			<div class="row mt-4 p-0">
				<section class="col-12">
					<div class="card text-bg-dark">
						<div class="card-body">
							<h2>{{header}}</h2>
							<p>{{description}}</p>
							{{#each buttons}}
							<div class="mb-3">
								<a href="{{link}}" class="btn btn-primary">{{text}}</a>
							</div>
							{{/each}}
						</div>
					</div>
				</section>
				<hr class="mt-5 ms-1 me-0">
			</div>
		{{/with}}
		{{#with service}}
			<div class="row mt-4 p-0">
				<section class="col-12">
					<div class="card text-bg-success">
						<div class="card-body text-center">
							<h2>{{title}}</h2>
							<p>{{description}}</p>
							{{#each buttons}}
							<div class="text-center">
								<a href="{{link}}" class="btn btn-primary">{{text}}</a>
							</div>
							{{/each}}
						</div>
					</div>
				</section>
				<hr class="mt-5 ms-1 me-0">
			</div>
		{{/with}}
		<div class="row mt-4">
			{{#each footer}}
				<section class="col-2 p-0">
					{{#each this}}
						<div>
							<a href="{{link}}" class="btn btn-link">{{text}}</a>
						</div>
					{{/each}}
				</section>
			{{/each}}
		</div>
    </div>
</main>